openapi: 3.0.0
info:
  version: demo
  title: {{ProjectDesc}}
x-project-name: {{ProjectName}}
x-api-gateway-name: {{ProjectName}}RestApi
x-deployment-name: {{DeploymentName}}
x-deployment-region: {{DeploymentRegion}}
x-deployment-profile: {{DeploymentProfile}}
{{#AuthorizationId}}
x-api-authorizer-id: {{AuthorizationId}}
{{/AuthorizationId}}
paths:
  {{#ResourcePaths}}
  '/{{ResourcePath}}':
    {{#ResourceData}}
    {{#-first}}
    {{ResourceType}}-service-name: {{ServiceName}}
    {{#ServiceTag}}
    {{ResourceType}}-service-tag: {{ServiceTag}}
    {{/ServiceTag}}
    {{#ServiceLang}}
    {{ResourceType}}-service-lang: {{ServiceLang}}
    {{/ServiceLang}}
    {{#ServiceRuntime}}
    {{ResourceType}}-service-runtime: {{ServiceRuntime}}
    {{/ServiceRuntime}}
    {{#ServicePolicy}}
    {{ResourceType}}-service-policy: {{ServicePolicy}}
    {{/ServicePolicy}}
    {{#ServiceModel}}
    {{ResourceType}}-service-model-name: {{ServiceModel}}
    {{ResourceType}}-service-passthrough: true
    {{ResourceType}}-service-validation: false
    {{/ServiceModel}}
    {{#HystrixStream}}
    {{ResourceType}}-service-hystrix-stream: {{HystrixStream}}
    {{/HystrixStream}}
    {{#hasServiceResource}}
    {{ResourceType}}-service-resources:
      {{#ServiceResources}}
      - {{Value}}
      {{/ServiceResources}}
    {{/hasServiceResource}}
    {{#hasServicePolicy}}
    {{ResourceType}}-service-policies:
      {{#ServicePolicies}}
      - {{Value}}
      {{/ServicePolicies}}
    {{/hasServicePolicy}}
    {{/-first}}
    {{ResourceMethod}}:
      {{#ServiceTag}}
      tags:
        - {{ServiceTag}}
      {{/ServiceTag}}
      description: {{Description}} Information
      operationId: {{OperationName}}
      responses:
        '200':
          description: Success
    {{/ResourceData}}
  {{/ResourcePaths}}
servers:
  - url: /